header {
  background-color: #6BA2BA;
  position: fixed;
  top: 0;
  leff: 0;
  width: 100%;
}

.banner {
  margin-top: 12em;
}

html {
  background-color: #fff;
  margin: 0;
  font-family: "roboto",sans-serif;



}

.tanya {
  font-family: "roboto",sans-serif;
}

h1 {
  margin-top: 10px;
  font-family: "roboto",sans-serif;

}

h2 {
font-weight: 700;
}

h3 {
  font-family: "roboto",sans-serif;
  font-weight: normal;


}

h4 {
  font-family: "roboto",sans-serif;
  border-bottom: 4px solid #6BA2BA;
  width: 60%;
  color: #6BA2BA;

}


.nav {
  text-decoration: none;
  color: #fff;

}

footer {
  background-color: #6BA2BA;
  color: #fff;

}

@media only screen and (min-width: 38em) {

.vertical-line {
    border-left: 2px solid #fff;
    height: 12em;
    margin-top: 1em;
    display: block;
    padding-left: 2em;
  }

nav li {
  float: right;
  }
}

@media only screen and (min-width: 60em) {

  nav li {
    float: right;
  }
}
