header {
  background-color: #6BA2BA;
}

html {
  background-color: #fff;


}

.tanya {
  font-family: "roboto",sans-serif;
}

h2 {
font-weight: 700;
}

h3 {

}
.nav {
  text-decoration: none;
  color: #fff;

}
