<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>Portfolio Website</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link href="css/site.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/modules.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/grid.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/type.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/main.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Kanit:100,100i,200,200i,300,300i,400,400i,500,500i" rel="stylesheet">
</head>
<body>

  <header class={{sitebaseurl}}>
    <div>
      <a href="{{site.baseurl}}/"><img class="my-logo" src="{{site.baseurl}}/images/tanya-logo.svg" alt=""></a>
    </div>
    <div>
    <nav class="nav gutter">
      <ul class="text-center push-0 list-group-inline">
        <li class="island-1-8">
          <a class="nav block gutter-1-2 pad-t-1-4 pad-b-1-4 terra" href="{{site.baseurl}}/work">Work</a>
        </li>
        <li class="island-1-8">
          <a href="{{site.baseurl}}/#about-me"class="nav block gutter-1-2 pad-t-1-4 pad-b-1-4 terra">About</a>
        </li>
        <li class="island-1-8">
          <a href="{{site.baseurl}}/" class="nav block gutter-1-2 pad-t-1-4 pad-b-1-4 terra" href>Home</a>
        </li>
      </ul>
    </nav>
  </div>
  </header>

<main class="push-2">


  {{content}}

</main>

<footer class="{{site.baseurl}} footer pad-t-2">
  <div class="grid max-width micro gutter">
    <div class="unit xs-1 s-1 m-1-2 l-1-2  push">
      <h1 class="kilo bold text-upper push-1-2">Tanya Andrews</h1>
        <p class="push-1-2">2731 E Innes Rd.<br>Ottawa, ON<br>K1B 3J7</p>
        <p class="bold push-0"> Telephone: 613-123-4567</p>
        <p class="bold">Email: tanya.d.andrews84@gmail.com</p>
    </div>

    <div class="unit xs-1 s-1 m-1-2 l-1-2 vertical-line">
      <h6 class="kilo bold push text-upper">FOLLOW ME</h6>
        <div class="social-icons">
          <ul class="list-group-inline">
            <li>
              <a class="icon i-48" href="https://www.facebook.com/Tanny.Designs/">
                <svg class="fb"><use xlink:href="{{site.baseurl}}/images/social-icons.svg#facebook"></use></svg>
              </a>
            </li>
            <li>
              <a class="icon i-48" href="https://twitter.com/">
                <svg class="twitter"><use xlink:href="{{site.baseurl}}/images/social-icons.svg#twitter"></use></svg>
              </a>
            </li>
            <li>
              <a class="icon i-48" href="https://www.instagram.com/lil_luna2/">
                <svg class="instagram"><use xlink:href="{{site.baseurl}}/images/social-icons.svg#instagram"></use></svg>
              </a>
            </li>
          </ul>


    </div>
  </div>
</footer>

</body>
</html>
